@{
    ViewBag.Title = "Home";
}

@*Carossel no topo*@
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../../Imagens/Bikes/altaResolucao/fullhd1.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Advanced Speed</h3>
                    <p>Design exclusivo com a simplicidade de tons azul com amarelo.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../../Imagens/Bikes/altaResolucao/fullhd2.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Cruiser Street</h3>
                    <p>Rapida, leve porém robusta para aguentar trepidações da cidade.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../../Imagens/Bikes/altaResolucao/fullhd3.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Standard Speed</h3>
                    <p>Uma classica speed, basica e elegante.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- /Cards -->
<div id="Cards" class="container">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="~/Imagens/Bikes/1923-Arrow-Racer.jpg" alt="">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Bicicletas Únicas !</h4>
                    <p class="card-text">Bicicletas feitas a mão, exclusivamente para você, do seu jeito, do seu gosto!</p>
                    <a href="Home/About" class="btn btn-primary">Sobre nós</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="~/Imagens/Bikes/9c02ea9948d0ac2cb2a7123696276c21.jpg" alt="">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Diversos Modelos</h4>
                    <p class="card-text">Possuimos uma grande variedade de modelos, do casual ao Racing.</p>
                    <a href="Bicicletas/Index" class="btn btn-primary">Pedidos</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="~/Imagens/Bikes/5018592216_f35b0bc543_o.jpg" alt="">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Monte a sua bike</h4>
                    <p class="card-text">Sim ! Você pode montar sua própria bike com as peças que desejar !</p>
                    <a href="Bicicletas/Create" class="btn btn-primary">Customizar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Quadrados -->
<div class="corMarrom servicos">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Imagens/Bikes/categorias/casual.jpg" alt="">
                <h3 class="textoBranco">Casual</h3>
                <p class="textoBranco">Bicicletas voltadas para passeios, porém também podem ser usadas como meio de transporte do dia a dia.</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Imagens/Bikes/categorias/montain.jpg" alt="">
                <h3 class="textoBranco">Montain Bike</h3>
                <p class="textoBranco">Arquitetura robusta, feita para aguentar os diversos tipos de terreno e impactos, com um sistema de amortecimento melhor trabalhado.</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Imagens/Bikes/categorias/speed.png" alt="">
                <h3 class="textoBranco">Speed</h3>
                <p class="textoBranco">Velocidade, leveza e simplicidade definem as bikes speed, voltadas para ciclistas que querem se deslocar de forma rapida pela cidade.</p>
            </div>

        </div>
        <center>
            <a href="#" class="btn btn-primary">Categorias</a>
        </center>
    </div>
</div>

<div class="portifolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="image img-fluid" src="http://placehold.it/400x300" alt="">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="image img-fluid " src="http://placehold.it/400x300" alt="">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="image img-fluid " src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="image img-fluid " src="http://placehold.it/400x300" alt="">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="image img-fluid " src="http://placehold.it/400x300" alt="">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="image img-fluid " src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="corMarrom empresa">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <section class="text-white scroll" id="Sobre">
                    <h2 class="text-center text-uppercase text-white" style="margin-top: -35px; padding-bottom: 25px;">Sobre</h2>
                    <div class="row">
                        <div class="col-lg-4 ml-auto">
                            <h4>Empresa</h4>
                            <p class="lead">Somos uma compania em busca de ser referência quando o assunto for fabricação de bicicletas. Visamos ser a maior em território nacional nos próximos 5 anos.</p>
                        </div>
                        <div class="col-lg-4 mr-auto">
                            <h4>Produtos</h4>
                            <p class="lead">Nossos produtos são fabricados e montados por profissionais qualificados e amantes de bicicletas. Garantimos assim a melhor experiência de compra ao cliente.</p>
                        </div>
                        <div class="col-lg-4 mr-auto">
                            <h4>Contato</h4>
                            <p class="lead">Dúvidas ? Sugestões ? </pclass="lead">
                            <p class="lead">Envie uma mensagem para nós e responderemos logo em seguida !</pclass="lead">
                            <p class="lead">Email: sistemacustombikes@gmail.com</p>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 800);
            });
        });
    </script>
}



